* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffc4df;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.text {
    font-size: clamp(20px, 5vw, 40px);
    color: #6f3a24;
    margin-bottom: 20px;
}

.button {
    display: flex;
    gap: 10px;
}

.button button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #6f3a24;
    color: #fff;
    transition: background-color 0.3s ease;
}

.button button:hover {
    background-color: #5a2e1c;
    scale: 1.2;
}